.about__container {
  min-height: 94vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.03) 2.5%,
      rgba(27, 30, 34, 0.4) 42.42%,
      //   #1b1e22 80.67%
    ),
    url("../../public/assets/bg/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-top: 300px;
  }
  a {
    text-decoration: none;
    color: rgb(87, 62, 16);
  }
}
